body{
  font-family: Arial, sans-serif;
  margin: 0 0 0 0;
}
header nav{
  float: right;
}
header nav ul li{
  list-style-type: none;
  display: inline;
  padding: 10px;
}
.nav-menu{
  font-size: 13px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.nav-menu:hover{
  text-decoration: underline;
}
section{
  /*margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;*/
  text-align: center;
  margin-top: 200px;
  box-sizing: border-box;
}
#text-search-box{
  width: 93%;
  height: 100%;
  border: none;
  border-radius: 20px;
  padding: 0;
  border: none;
}
.input-wrapper{
  width: 500px;
  height: 40px;
  border: 1px solid #EAECEE;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  
}
.input-wrapper:hover{
  box-shadow: 0 3px 7px 0 rgba(229, 232, 232,10);
  border-color: rgba(229, 232, 232,10);
}
.input-wrapper>img{
  postion: absolute;
  top: 1;
  right: 1;
}
.btn-style{
  border: none;
  padding: 10px;
  margin: 0 7px;
  background-color: #EAECEE;
}
.btn-style:hover{
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  box-shadow: 0 2px 5px rgba(123, 125, 125, 0.5);
  border: 1px solid #D0D3D4 ;
  border-right: 0;
  border-left: 0;
}
.dropdown-container{
  background-color: white;
  border: 1px solid #F4F6F7;
  border-radius: 5px;
  width: 270px;
  height: fill-content;
  box-shadow: 0 2px 7px #B2BABB;
  position: absolute;
  right: 50px;
  top: 50px;
  display: none;
}
.app-item{
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-size: 13px;
}
.app-item:hover{
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 7px #CACFD2;
}
#dropdown:hover .dropdown-container{
  display: block;
}