body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: whitesmoke;
}


.top-container{
    text-align: center;
    background-color: whitesmoke;
    padding-bottom: 5rem;
}

.logo{
    padding-top:3rem;
    width: 240px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.txt{
    font-size: 1.2rem;
    padding:0.2rem 0 0.2em 0;
}

.flex-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding-bottom:1rem;
}

.input-box{
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.7rem;
    width: 330px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #dddfe2;
    font-size: 1.1rem;
    color: #1d2129;
}

.input-box::placeholder{
    color: #959ca3;
}

.input-box:focus::placeholder{
    color: #bbc3ca;
}

.btn{
    padding: 0 1rem 0 1rem;
    margin: 0 1rem 0 1rem;
    border-radius: 6px;
    background-color: #1877f2;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    line-height: 3rem;
    cursor: pointer;
}


@media screen and (max-width:600px){
    .input-box{
        background-color: #f5f6f7;
        border: 0;
        border-color: rgba(0, 0, 0, .07) rgba(0, 0, 0, .11) rgba(0, 0, 0, .18);
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
    }
    .btn{
        padding: 0 0.8rem 0 0.8rem;
    }
}

@media screen and (max-width:450px) {
    .input-box{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
        padding: 12px;
        font-size: 0.9rem;
    }

    .btn{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0 16px;
        font-size: 1.1rem;
        height: 40px;
        vertical-align: middle;
    }

    .top-container{
        width: 100%;
        background-color: #fff;
    }

    .flex-form{
        width: 100%;
        box-shadow: none;
        border: 0;
        border-radius: 0;
        padding: 1rem;
        overflow: hidden;
    }

    .logo{
        padding-top: 0.5rem;
        width: 112px;
    }

    .txt{
        display: none;
    }

    .form{
        width: 100%;
    }
}


.links{
    color: #1877f2;
    text-decoration: none;
    font-size: 0.9rem;
}

.link{
    text-decoration: none;
}


.link:any-link{
    color: #1877f2;
}

@media screen and (max-width: 700px){
    .footer {
        background-color: #fff;
        height: 40%;
        padding: 70px 69px 0px 69px;
        font: helvetica;
    }
}
@media screen and (min-width: 700px){
    .footer {
    background-color: #fff;
    height: 40%;
    padding: 70px 269px 0px 269px;
    font: helvetica;
    }
}


.footer ul {
  padding: 0px 0px;
  margin: 0px 0px;
}

.footer .contentcurve {
  border-bottom: 1px solid #dddfe2;
  font-size: 1px;
  height: 8px;
  margin-bottom: 8px;
}

.footer .languages ul li {
  display: inline-block;
}

.footer .languages ul li a {
  color: #737373;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 4px 10px 0px 0px;
}

.footer .languages .fas.fa-plus {
  font: inherit;
  size: 5rem;
  padding: 0px 8px;
  outline: solid 1px;
  outline-color: #918d8d;
  background-color: #f5f6f7;
}

.footer .links ul li {
  display: inline-block;
}

.footer .links ul li a {
  color: #8a8d91;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 4px 20px 0px 0px;
}

.footer .copyright {
  color: #737373;
  font-size: 11px;
  padding: 10px 0px;
}

