*,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-size: 16px;
  font-family: sans-serif;
}

.mid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  top: 10%;
  padding: 2rem 0 3rem 3rem;
}

.header h3 {
  text-align: left;
  font-size: 22px;
  font-weight: 800;
  color: #0A66C2;
  font-family: sans-serif;
}

.in {
  color: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
  letter-spacing: 2px;
  background: #0A66C2;
}

.container{
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  padding: 1rem;
  width: 22rem;
  border-radius:1rem ;
}

.upper-text h1{
  font-size: 2rem;
  font-weight: 450;
  line-height: 1.25;
  color: rgba(0,0,0,0.9);
  margin-bottom: 5px;
}
.upper-text p{
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: rgba(0,0,0,0.6);
}

.upper-text{
  margin-bottom: 2rem;
}

.text h2 {
  text-align: center;
  font-weight: 700;
  margin: 25px 0;
}

.text p {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
  color: lightslategray;
}

.input-group {
  position: relative;
  /* margin: 0 auto; */
}

.input-group input {
  
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  border: 1px solid rgba(0,0,0,0.6);
  z-index: 10;
  margin-bottom: 20px;
  border-radius: 0.2rem;

}

.input-group input[type="password"]{
  margin-bottom: 8px;
}

.input-group input:focus{
  border: 2px solid #0A66C2;
}
.input-group span {
  position: absolute;
  top: 19px;
  left: 20px;
  padding: 0;
  transition: 0.2s;
  pointer-events: none;
  color: rgba(0,0,0,0.6);
}

.input-group input:focus ~ span,
.input-group input:valid ~ span {
  top: 1px;
  left: 12px;
  padding: 2px 4px;
  font-size: 12px;
  color: rgba(0,0,0,0.9);
}

input[type="button"] {
  height: 50px;
  width: 90%;
  margin: 0.9rem 1rem 0 1rem;
  background: #0A66C2;
  color: #fff;
  border: none;
  border-radius: 5rem;
  font-size: 18px;
  cursor: pointer;
  transition: background 500ms ease;
}

input[type="button"]:hover {
  background: #004182;
}

.mid-last {
  margin: 40px 200px;
}

.mid-last h1 {
  text-align: center;
}

.forgot-pass {
  text-decoration: none;
  font-size: 0.9rem;
  color: #0A7BD4;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 2rem;
}

.forgot-pass:hover {
  background: rgb(207, 238, 250);
}

.mid-last h2 {
  text-align: center;
  margin: 10px 0px;
  font-size: 19px;
}

.join {
  font-weight: bold;
  color: #0077b5;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

footer ul li {
  list-style: none;
  padding: 1px;
  margin: 0 0.5rem 1rem 0.5rem;
  color: rgba(0,0,0,0.6);
  font-size: 13px;
}

.footer-black {
  color: #000;
  font-weight: 900;
}

.last-in {
  color: #fff;
  background: #000;
  font-size: 15px;
}
